[submodule "engine"]
	path = engine
	url = git@github.com:szarta/stars-reborn-engine.git
[submodule "ui"]
	path = ui
	url = git@github.com:szarta/stars-reborn-ui.git
[submodule "schemas"]
	path = schemas
	url = git@github.com:szarta/stars-reborn-schemas.git
